{{#each this}}
  <li class='film-gallery'>

    <img
      src='https://image.tmdb.org/t/p/w500{{poster_path}}'
      alt='{{title}}'
      data-action={{id}}
      class='img-card'
    />
    <div class='film-card'>
      <h3 class='film-title'>{{original_title}}</h3>

      <p class='film-genres'>{{#each genres_ids}}
          <span class='film-text genre'> {{this.name}}</span>
        {{/each}}
        {{release_date}}
        |
        <span class='vote-average'>{{vote_average}}</span>
      </p>
    </div>
  </li>
{{/each}}