<li class='movie-card'>
  <img
    class='movie-poster'
    src='https://image.tmdb.org/t/p/w500{{poster_path}}'
    alt='{{title}}'
    data-movie-id='{{id}}'
  />
  <h1 class='film-title'>{{title}}</h1>
  <p class='film-genres'>
    {{#each movie}}
      {{#if this.filmGenres}}{{this.filmGenres}}{{else}}Genre{{/if}}{{/each}}
    |
    {{releaseYear}}
    <span class='vote-average'>{{vote_average}}</span></p>

</li>