<img class='modal-img' src='https://image.tmdb.org/t/p/w500/{{poster_path}}' alt='{{title}}' />
<h2>{{original_title}}</h2>
<ul>
  <li>
    <p>Vote / Votes</p>
    <p>{{vote_average}} / {{vote_count}}</p>
  </li>
  <li>
    <p>Popularity</p>
    <p>{{popularity}}</p>
  </li>
  <li>
    <p>Original Title</p>
    <p>{{original_title}}</p>
  </li>
  <li>
    <ul>Genre
      {{#each genres}}
        <li>{{this.name}}</li>
      {{/each}}

    </ul>

  </li>
</ul>
<div>
  <h3>About</h3>
  <p>{{overview}}</p>
</div>